.ui.menu {
    background-color: #458cc9;
}
.ui.menu .item {
    color:white;
}
.ui.menu a.item:hover{
    color:#fadb35;
}

div.main {
    margin: 2px 30px;
}

.ui.cards .card.student {
    width: 200px
}